<form action="/tasks" method="post">
  <h3>Enter a new task:</h3>
  <p>Title:</p>
  <input type='test' name='task[title]'/></textarea><br/>
  <p>Description:</p>
  <textarea name='task[description]'></textarea><br/>
  <input type='submit'/>
</form>
